.hero {
  padding-top: 11.8rem;
  margin-bottom: 4rem;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5rem;
  }
  .hero__info {
    width: 44.5rem;
    h1 {
      margin-bottom: 1.6rem;
    }
  }
  .hero__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .hero__item {
    background-color: #f7f2f7;
    width: 44.5rem;
    display: flex;
    padding: {
      top: 2rem;
      right: 7.9rem;
      bottom: 2rem;
      left: 3.2rem;
    }
    gap: 3rem;
    border-radius: 8px;
  }
  .hero__item:nth-child(2) {
    padding-right: 4.7rem;
    margin-left: 4.8rem;
  }
  .hero__item:nth-child(3) {
    padding-right: 7.6rem;
    margin-left: 9.5rem;
  }
  @media screen and (max-width: 570px) {
    padding-top: 8.2rem;
    .container {
      flex-direction: column;
      gap: 3.9rem;
    }
    .hero__info {
      max-width: 32.7rem;
      text-align: center;
    }
    .hero__item {
      width: 32.7rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.5rem;
      padding: 1.6rem 6.6rem 1.5rem 7.6rem;
    }
    .hero__item:nth-child(2) {
      padding: 1.6rem 5.5rem 1.5rem;
      margin: 0;
    }
    .hero__item:nth-child(3) {
      padding: 1.6rem 6.85rem;
      margin: 0;
    }
  }
}
//
.features {
  padding-bottom: 10rem;

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    // margin-bottom: 10rem;
  }
  .features__item {
    align-self: start;
    width: 35rem;
    padding: 4rem 3.2rem 3.5rem;
    background-color: #512051;
    color: #ffffff;
    border-radius: 8px;
  }
  .features__item:nth-child(2) {
    margin-top: 1.6rem;
  }
  .features__item:nth-child(3) {
    margin-top: 3.2rem;
  }
  .features__wrapper {
    display: flex;
    align-items: center;
    gap: 2.3rem;
    margin-bottom: 3.1rem;
  }
  .features__info {
    h6 {
      color: #ffffff;
    }
    h6:nth-child(1) {
      margin-bottom: 0.4rem;
    }
  }

  @media screen and (max-width: 570px) {
    .features__list {
      gap: 1.6rem 3rem;
    }
    .features__item {
      width: 32.7rem;
    }
  }
}
